
.zy{

    background-image: url(../Imagenes/car.jpg);
    background-size: cover;
    
    height: 100vh;
}
input{
    border-radius: 5px;
    height: 40px;
    border: solid 1px rgb(150, 150, 150);
    background-color: rgb(204, 202, 202);
}

.btn{
    background-color: rgb(228, 222, 222) !important;
    width: 100px;
    border-radius: 5px !important;
}
.btnimg{
    width: 100px;
    border: none;
    
}
.imgs{
    width: 100px;
    height: 70px;
}
textarea{
    border-radius: 5px;
    
    border: solid 1px rgb(150, 150, 150);
    background-color: rgb(204, 202, 202);
}
.no{
    width: 400px;
    border: none;
}
h1,h4,p{
    color: #fff;
}